*{
  font-family: 'Noto Sans TC', sans-serif;
  list-style: none;
}
// 元件 樣式
.fm--number{
  font-family: 'Baloo Tamma 2', cursive;
}
.button--primary{
  font-weight: bold;
  color: #636057;
  &:hover{
    color:#ffffff;
    background-color:#ff785e;
  }
}
.button--secondary{
  font-weight: bold;
  &:hover{
    color: #858377;
    background-color:#ffdf65;
    border-color:#ffdf65;
    & i{
      color:#ff785e;
    }
  }
}
// 區域 樣式
.login__progress--height{
  height: 1px;
}
.product{
  &__img{
    border-radius:35px;
  }
  &__progress--width{
    width: 41%
  }
}
.main__nav>.nav-item .nav-link.active{
  font-weight: bold;
  border-bottom: 2px solid #ffdf65;
  padding-bottom: 16px;
}
.faq__button.collapsed>i{
  transform: rotate(-180deg);
}
.sponsor__progress--height{
  height: 3px;
}
.aside{
  &__icon{
    width: 30px;
    height: 30px;
  }
  &__scroll--sticky{
    height:90vh; 
    position:sticky; 
    top:80px; 
    overflow-x:hidden; 
    overflow-y:auto;
  }
}